.dashboard {
    display: flex;
    border-left: 50px solid rgb(18, 18, 78);
    border-top: 50px solid rgb(18, 18, 78);
  }
  
  .dashboard-table {
    flex-basis: 65%;
  }
  h2{
    margin-left: 20px;
  }