.box-modal{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 3%;
    border-radius: 10px;
    border: none;
    min-height: 250px;
}
.fragment{
    margin-left: 45%;
    margin-top: 90px;
    font-size: xx-large;
}
/* *{
    border: 1px solid red;
} */