/* *{
    border: 1px solid red;
} */
.options-container{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.options-container:hover{
    cursor: pointer;
    background: rgb(39, 49, 105);
    color: rgb(255, 255, 255);    
}
h5{
    margin-bottom: 0px;
}
p{
    margin-top: 0px;
}
/* .options-table{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
} */