.App {
  background: rgb(221, 224, 255);
}

.App-table {
  flex-basis: 65%;
}
h2{
  margin-left: 20px;
}
.leaflet-container{
  width: 20vw;
  height: 30vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

